#!/usr/bin/env zsh

set -euo pipefail

if [ {{ .installFonts }} = false ]; then
  echo "Font installation disabled, skipping..."
  exit 0
fi

# SET FONTS DIRECTORY
{{- if eq .chezmoi.os "darwin" }}
FONTS_DIR=$(realpath ~/Library/Fonts)
{{- else if eq .chezmoi.os "linux" }}
FONTS_DIR="~/.local/share/fonts"
{{- end }}

TARGET_DIR="$FONTS_DIR/MesloLGS_NF"

if [[ ! -d "$TARGET_DIR" ]]; then
  mkdir -p "$TARGET_DIR"
fi

typeset -A FONTS=()
FONTS[MesloLGS_NF_Regular.ttf]="https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"
FONTS[MesloLGS_NF_Bold.ttf]="https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf"
FONTS[MesloLGS_NF_Italic.ttf]="https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf"
FONTS[MesloLGS_NF_Bold_Italic.ttf]="https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf"

cd "$TARGET_DIR"
for filename url in ${(kv)FONTS}; do
  if [[ -f "$filename" ]]; then
    continue
  fi
  echo "Installing font '$filename'..."
  curl -fsSL --output "$filename" "$url"
  echo "Done! Wrote file '$filename'"
done

