#!/usr/bin/env zsh

set -euo pipefail

if [ {{ .installPackages }} = false ]; then
  echo "Package installation disabled, skipping..."
  exit 0
fi

{{- $packageManager := .packageManager }}
{{- $filter := ".[] | .{}" | replace "{}" $packageManager  }}

PACKAGE_MANAGER="{{ $packageManager }}"
PACKAGE_INSTALL_COMMAND="{{ .packageInstallCommand }}"
PACKAGES=({{ .packages | jq $filter | join " " }})

if (( ! $+commands[$PACKAGE_MANAGER] )); then
  echo "ERROR: Missing expected package manager '$PACKAGE_MANAGER'"
  exit 1
fi


echo "Installing packages using '${PACKAGE_INSTALL_COMMAND} <package>'..."
for package in $PACKAGES; do
  command="${PACKAGE_INSTALL_COMMAND} ${package}"
  echo "Checking if package '${package}' is installed..."
  eval $command
  echo "Done! Package '${package}' is installed"
done

echo "Success! Package installation script complete"

