---
{{- $packageManager := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $packageManager = "brew" }}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch")) }}
{{-   $packageManager = "pacman" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   "ERROR: Unsupported 'ID_LIKE' property '{0}' for OS '{1}'\n" | replaceAllRegex "{0}" .chezmoi.osRelease.idLike | replaceAllRegex "{1}"  .chezmoi.osRelease.name | writeToStdout }}
{{-   exit 1 }}
{{- else }}
{{-   "ERROR: Unsupported OS '{0}'\n" | replaceAllRegex "{0}" .chezmoi.os | writeToStdout }}
{{-   exit 1 }}
{{- end }}
data:
  packageManager: {{ $packageManager | quote }}
git:
  autoCommit: true
  autoPush: true

