---
{{- $packageManager := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $packageManager = "brew" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "archarm" )) }}
{{-     $packageManager = "pacman" }}
{{-   else }}
{{-     "ERROR: Unsupported Linux Distro '{}'\n" | replace "{}" .chezmoi.osRelease.name | writeToStdout }}
{{-     exit 1 }}
{{-   end }}
{{- else }}
{{-   "ERROR: Unsupported OS '{}'\n" | replace "{}" .chezmoi.os | writeToStdout }}
{{-   exit 1 }}
{{- end }}
data:
  packageManager: {{ $packageManager | quote }}
git:
  autoCommit: true
  autoPush: true
