#!/usr/bin/env zsh

LOAD_ZSH_THEME=true
if [[ "$TERM" == "linux" || "$TERM" == "linux-16color" ]]; then
  LOAD_ZSH_THEME=false
fi

# # Path to your oh-my-zsh installation.
export ZSH="{{ .ohMyZshRoot }}"
$LOAD_ZSH_THEME && ZSH_THEME="powerlevel10k/powerlevel10k"

plugins=(
  docker
  docker-compose
  dotenv
  git
  npm
  nvm
  pyenv
  virtualenv
  zsh-autosuggestions
  zsh-syntax-highlighting
)

zstyle ':omz:update' mode disabled
source $ZSH/oh-my-zsh.sh

if [[ $LOAD_ZSH_THEME ]]; then
  # Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
  # Initialization code that may require console input (password prompts, [y/n]
  # confirmations, etc.) must go above this block; everything else may go below.
  if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
  fi
  # Load p10k
  if [ -f ~/.p10k.zsh ]; then
    source ~/.p10k.zsh
  fi
fi

# User configuration
export DISABLE_AUTO_UPDATE="true"
export EDITOR=micro

# Should be moved to functions file
function git-branch-purge() {
	git branch --v | grep "\[gone\]" | awk '{print $1}' | xargs git branch -D
}

# PYENV
export PYENV_ROOT="{{ .pyenvRoot }}"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

# NVM
export NVM_DIR="{{ .nvmRoot }}"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

# RUST
[[ -f "$CARGO_HOME/env" ]] && source "$CARGO_HOME/env"

{{ if eq .chezmoi.hostname "dnpws15" }}
cd () {
    if [ $# -eq 0 ]; then
        builtin cd /local/home
    else
        builtin cd "$@"
    fi
}
{{- end -}}

eval $(thefuck --alias)
alias ls='lsd'
