#!/usr/bin/env zsh

# HOMEBREW
{{- if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end -}}

# PYENV
export PYENV_ROOT="{{ .localDir }}/opt/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
