#!/usr/bin/env zsh

WORKING_DIR=$PWD

PYENV_ROOT="{{ .pyenvRoot }}"
PYENV_VIRTUALENV_ROOT="${PYENV_ROOT}/plugins/pyenv-virtualenv"

NVM_ROOT="{{ .nvmRoot }}"
OH_MY_ZSH_ROOT="{{ .ohMyZshRoot }}"
ZSH_AUTOSUGGESTIONS_ROOT="${OH_MY_ZSH_ROOT}/custom/plugins/zsh-autosuggestions"
ZSH_SYNTAX_HIGHLIGHTING_ROOT="${OH_MY_ZSH_ROOT}/custom/plugins/zsh-syntax-highlighting"
POWERLEVEL10K_ROOT="${OH_MY_ZSH_ROOT}/custom/themes/powerlevel10k"

echo "Current working directory: ${WORKING_DIR}"

echo $PYENV_ROOT
echo $PYENV_VIRTUALENV_ROOT

function installFromGithub() {
  installDir=$1
  gitRepo=$2

  if [ -z "${installDir}" ]; then
    echo "Error: install directory must be defined" && exit 1
  elif [ -z "${gitRepo}" ]; then
    echo "Error: git repository must be defined" && exit 1
  fi

  packageName=$(echo $gitRepo | sed 's/.*\/\([^ ]*\/[^.]*\).*/\1/')
  if [[ ! -d $installDir ]]; then
    echo "Cloning repository '${packageName}' in directory: ${installDir}"
    git clone --depth=1 $gitRepo $installDir
    echo "Done!"
  else
    echo "Skipping install of ${packageName} since directory already exists: ${installDir}"
  fi
}


# PYENV
installFromGithub $PYENV_ROOT https://github.com/pyenv/pyenv.git
installFromGithub $PYENV_VIRUTALENV_ROOT https://github.com/pyenv/pyenv-virtualenv.git

# NVM
installFromGithub $NVM_ROOT https://github.com/nvm-sh/nvm.git

# OH MY ZSH
installFromGithub $OH_MY_ZSH_ROOT https://github.com/ohmyzsh/ohmyzsh.git
installFromGithub $ZSH_AUTOSUGGESTIONS_ROOT https://github.com/zsh-users/zsh-autosuggestions
installFromGithub $ZSH_SYNTAX_HIGHLIGHTING_ROOT https://github.com/zsh-users/zsh-syntax-highlighting.git
installFromGithub $POWERLEVEL10K_ROOT https://github.com/romkatv/powerlevel10k.git
